<p><i class="fa fa-twitter fa-lg fa-fw"></i> <a href="https://twitter.com/lazulirose_ancy/" target="_blank">@lazulirose_ancy</a></p>
<p><i class="fa fa-github fa-lg fa-fw"></i> <a href="https://github.com/lazulirose/" target="_blank">@lazulirose</a></p>
<p><i class="fa fa-linkedin fa-lg fa-fw"></i> <a href="https://www.linkedin.com/in/lazulirose/" target="_blank">linkedin.com/in/lazulirose</a></p>
<p><i class="fa fa-laptop fa-lg fa-fw"></i> <a href="http://lazulirose.com/" target="_blank">http://lazulirose.com/</a></p>
<p><i class="fa fa-envelope-o fa-lg fa-fw"></i> <a href="lazuliroseancy@gmail.com" target="_blank">lazuliroseancy@gmail.com</a></p>